body {
    font-family: Garamond;
    margin: 0;
}
.flex {
    display: flex;
}
.top {
    background-color: #790db5;
    color: orange;
    text-align: center;

}
.top > div:nth-child(1), .top > div:nth-child(2), .top > div:nth-child(3), .top > div:nth-child(4)  {
    height: 200px;
    width: 25%;
}
.middle{
    width: 100%;
}
.left, .right {
    background-color: #ffe6a3;
    height: 500px;
    width: 50%;
}
.bottom {
    background-color: #790db5;
    color: orange;
    text-align: center;
    padding: 30px;
}
form {
    padding-top: 60px;
}
p {
    font-size: 150%;
}
a:link{
    color: yellow;
}
a:visited {
    color: orange;
}





